<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShinglePageLessons</title>

    <!-- REACT -->
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <!-- REACT -->

    <!-- PURE -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <!-- PURE -->

    <!-- routing -->
    <script type="text/babel" src="/js/post-ajax.js"></script>
    <script type="text/babel" src="/js/main.js"></script>
    <script type="text/babel" src="/js/routing.js"></script>
    <!-- routing -->

    <!-- Style -->
    <link rel="stylesheet" href="/css/master.css">
    <!-- Style -->

</head>
<body>
<div class="pure-g">
    <div class="pure-u-1-1">
        <h1 onclick="test()">header & nav</h1>
    </div>
</div>

<div class="pure-g">
    <nav class="pure-u-1-5">
        <ul>
            <li><a onclick="test1()">nav</a></li>
            <li onclick="test2()">nav</li>
            <li onclick="authorPrint()">Author</li>
            <li>nav</li>
            <li>nav</li>
        </ul>
    </nav>
    <div class="pure-u-4-5">
        content
        <section id="test">
            
        </section>
    </div>
</div>

<div class="pure-g">
    <footer class="pure-u-1-1">
        FOOTER
    </footer>
</div>

</body>
</html>